* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto Mono', monospace;
    color: #777777;
    margin: 0;
    display: block;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    justify-content:center;
    background-image: url("https://les.mitsubishielectric.co.uk/assets/Uploads/328a039bfe/Changing-view-from-space.jpg");
  }
  
  #start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: (-50%,-50%);
    font-size: 25px;
    font-weight:  500;
    color: oldlace;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: linear-gradient(#444, #777);
    cursor: pointer;
  }


  #view-scores {
    background-color:#777;
    color: rgb(141, 30, 30);
    font-size: medium;
    cursor: pointer;
    float: left;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
  }
  
  #view-scores:hover{
    color:#2d4d6c;
    background: linear-gradient(#444, #777);
  }


#choices {
  display: flex;
  justify-content: space-evenly;
}



  button {
    border-radius: 8px;
    background:linear-gradient(#777,#2d4d6c);
    color: #4b1107;
    cursor: pointer;
    font-size:medium;
    letter-spacing:normal;
    line-height: 20px;
    max-width: 255px;
    padding: 20px 50px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }
  
  

  
  .large-font {
    font-size: 3.5em;
    text-align:center;
  }
  
  
  @media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  
  }
  
  @media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
  
   
  }
