* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto Mono', monospace;
    color: #777777;
    margin: 0;
    display: block;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    justify-content:center;
    background-image: url("https://les.mitsubishielectric.co.uk/assets/Uploads/328a039bfe/Changing-view-from-space.jpg");
  }
  
  
  
  button {
    border-radius: 8px;
    background-color: #777;
    color: #2d4d6c;
    cursor: pointer;
    font-size:medium;
    letter-spacing:normal;
    line-height: 20px;
    max-width: 255px;
    padding: 20px 50px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }
  
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .large-font {
    font-size: 3.5em;
    text-align:center;
  }
  
  
  @media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  
  }
  
  @media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
  
   
  }
